.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cendered-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered-column-vertically {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
