// Basic typography style

html {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like,
.h5-like,
.h6-like {
  font-family: $font-secondary;
}

@each $header,
  $size in (h1: 36px, h2: 30px, h3: 24px, h4: 20px, h5: 18px, h6: 16px)
{
  #{$header} {
    font-size: $size;
  }
}

@each $header,
  $size
    in (
      ".h1-like": 36px,
      ".h2-like": 30px,
      ".h3-like": 24px,
      ".h4-like": 20px,
      ".h5-like": 18px,
      ".h6-like": 16px
    )
{
  #{$header} {
    font-size: $size;
  }
}

@each $header,
  $height in (h1: 44px, h2: 36px, h3: 30px, h4: 24px, h5: 22px, h6: 20px)
{
  #{$header} {
    line-height: $height;
  }
}

@each $header,
  $height
    in (
      ".h1-like": 44px,
      ".h2-like": 36px,
      ".h3-like": 30px,
      ".h4-like": 24px,
      ".h5-like": 20px,
      ".h6-like": 18px
    )
{
  #{$header} {
    line-height: $height;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h6,
.h6-like {
  font-weight: 400;
}

button {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.default-text {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.7;
  color: $color-copy-muted;
}
