.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 130px 1fr 312px;

  // TODO with media queries
}

.page-content-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
