// This file contains all application-wide Sass variables.

//  variables for colors
$color-primary: #000000;
$color-secondary: #383838;

$color-gray-500: #e5e5e5;
$color-gray-300: #f9f9f9;

$color-white: #ffffff;
