// This file contains all application-wide Sass variables.

//  variables for colors
$color-primary: #000000;
$color-secondary: #383838;

$color-gray-700: #868686;
$color-gray-600: #b2b2b2;
$color-gray-500: #e5e5e5;
$color-gray-300: #f9f9f9;

$color-beige-300: #f6f4ef;
$color-white: #ffffff;

$font-primary: "Lexend", sans-serif;
$font-secondary: "Lora", serif;
