// colors
$color-base-light: #f6f4ef;
$color-copy: #000000;
$color-copy-dark: #383838;
$color-copy-muted: #868686;
$color-copy-light: #b2b2b2;

$color-separator: #e5e5e5;

$color-bg-dropdown: #f9f9f9;
$color-bg-white: #ffffff;

// fonts
$font-primary: "Lexend", sans-serif;
$font-secondary: "Lora", serif;
