.section-articles {
  background-color: $color-base-light;
  padding: 12em 0 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-heading {
    .heading-title {
      margin-top: 0;
      margin-bottom: 0.625em;
    }

    .heading-text {
      max-width: 40em;
      font-size: 1em;
      text-align: center;
      line-height: 1.5;
      font-weight: 500;
      color: $color-copy-muted;
      margin-bottom: 4.5em;
    }
  }

  @media (max-width: $breakpoint-large) {
    padding: 5em 0;
  }

  @media (max-width: $breakpoint-normal) {
    padding: 5em 0;
  }

  @media (max-width: $breakpoint-small) {
    padding: 3em 0;

    .section-heading {
      max-width: 20em;

      .heading-title {
        font-size: 2em;
      }

      .heading-text {
        margin-bottom: 2.5em;
      }
    }
  }

  @media (max-width: $breakpoint-extra-small) {
    .section-heading {
      .heading-title {
        font-size: 1.5em;
      }
    }
  }
}
