.section-articles {
  background-color: $color-beige-300;
  padding: 12em 0 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-heading {
    .heading-title {
      margin-top: 0;
      margin-bottom: 0.625em;
    }

    .heading-text {
      max-width: 40em;
      font-size: 1em;
      text-align: center;
      line-height: 1.5;
      font-weight: 500;
      color: $color-gray-700;
      margin-bottom: 4.5em;
    }
  }
}
