.section-description {
  .description {
    &-title {
      max-width: 60%;
      margin: 0 auto 80px auto;
    }

    &-image-wrapper {
      max-height: 500px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding-right: 2em;
    }

    &-text {
      max-width: 97%;
    }
  }
}
