.section-intro {
  position: relative;
  top: 5em;
  padding-top: 4em;

  .section-primary {
    .heading {
      &-title {
        font-family: $font-primary;
      }
      &-subtitle {
        text-transform: uppercase;
        font-size: 0.625em;
      }
    }
  }

  .section-secondary {
    height: 100%;

    .image-wrapper {
      position: relative;
      top: -1em;

      .intro-image {
        width: 100%;
        max-width: 30em;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    position: static;
    padding: 5em 0;

    .section-primary {
      .heading-title {
        font-size: 2em;
      }
    }

    .section-secondary {
      .image-wrapper {
        .intro-image {
          width: 100%;
          max-width: 20em;
        }
      }
    }
  }

  @media (max-width: $breakpoint-normal) {
    .section-primary {
      .heading-title {
        line-height: 1.5em;
        font-size: 1.5em;
        margin: 0.5em 0;
      }
    }

    .section-secondary {
      .image-wrapper {
        .intro-image {
          width: 100%;
          max-width: 15em;
        }
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    padding: 3em 0 4em 0;

    .section-secondary {
      .image-wrapper {
        top: 0;

        .intro-image {
          display: none;
        }
      }
    }
  }
}
