.section-latest-articles {
  padding: 6em 0;

  .latest-articles-wrapper {
    display: flex;
    flex-direction: column;

    .section-heading {
      .heading-title {
        margin-top: 0;
        margin-bottom: 1.6em;
      }
    }
    .articles {
      &-btn {
        align-self: center;
      }
    }
  }

  .latest-articles {
    display: flex;
    flex-flow: row wrap;
  }
}
