.section-literature {
  .article-image {
    width: 100%;
    height: 100%;
    margin-bottom: 44px;
  }

  .section-secondary {
    padding-left: 50px;

    .section-heading {
      .heading-title {
        font-weight: 600;
        margin-bottom: 40px;
      }
    }
  }
}
