.section-literature {
  .preview {
    &-image-wrapper {
      margin-bottom: 44px;
    }

    &-author {
      margin: 28px 0;
    }
  }

  .literature {
    &-list {
      padding-left: 50px;
    }

    &-title {
      font-weight: 600;
      margin-bottom: 40px;
    }
  }
}
