.section-resources {
  &-title {
    margin-top: 5px;
  }

  .section-info {
    &-title {
      margin-top: 0;
    }
    &-text {
      width: 75%;
    }
  }

  .resources {
    &-content-wrapper {
      margin-bottom: 1.875em;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
    }

    &-btn {
      text-transform: uppercase;
      font-size: 0.55em;
      font-weight: 600;
      margin-right: 10px;
      border-color: $color-gray-600;
    }
  }
}
