.badge {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &-bg-light {
    background-color: $color-beige-300;
  }

  &-image {
    &-small {
      max-width: 1.25em;
      max-height: 1.25em;
    }

    &-medium {
      max-width: 1.75em;
      max-height: 1.75em;
    }
  }

  &-title {
    margin: 0 0 0 0.375em;

    &-medium {
      font-size: 1.2em;
    }
  }
}

.image-badge-wrapper {
  padding: 1em 1.875em 0.375em 0;
}
