.btn {
  &:hover {
    cursor: pointer;
  }

  &-inline {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.6em;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
  }

  &-primary {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
    font-weight: 600;
  }

  &-big {
    padding: 20px 95px;
  }
}
