.btn {
  &-inline {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.6em;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;

    &:hover {
      cursor: pointer;
    }
  }
}
