.card {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.875em;
    margin-bottom: 6em;
    width: 100%;
    max-width: 500px;
  }

  &-image-wrapper {
    align-self: start;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-info {
    align-self: end;
  }

  &-title {
    line-height: 1.5em;
    margin: 15px 0;
  }
}
