.dropdown {
  position: relative;

  &:hover .dropdown-menu {
    display: block;
  }

  &-arrow {
    margin-left: 0.375em;
    position: relative;
    bottom: 0.2em;

    & i {
      font-size: 0.5em;
      color: $color-copy-dark;
    }
  }

  &-menu {
    display: none;
    position: absolute;
    background-color: $color-bg-white;
    min-width: 10em;
    box-shadow: 0 0.5em 1em 0 rgba(black, 0.2);
    padding: 0.75em 0;
    z-index: 1;
    list-style: none;

    .menu {
      &-item {
        padding: 0.25em 1em;

        &:hover {
          background-color: $color-bg-dropdown;
        }
      }

      &-item-link {
        color: $color-copy-dark;
        font-size: 1em;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    &-menu {
      position: relative;
      top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
