.list {
  &-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 30px;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 35px;
    align-items: center;
  }
}

.item {
  &-number {
    font-size: 3.5em;
    font-weight: 500;
    grid-row: 1/3;
    line-height: 0.8em;
    align-self: flex-start;
  }

  &-title {
    grid-row: 1/2;
    font-weight: 600;
    align-self: end;
  }

  &-text {
    grid-row: 2/3;
    font-size: 0.9em;
  }

  &-title,
  &-text {
    margin: 0;
  }
}
